body {
    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../imagens/fundo-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 4rem;
    color: black;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

canvas {
   border: 5px solid rgba(0, 0, 0, 0.5);
}